body, html {
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-image: url("bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #eee;
    height: calc( 100% );
    overflow: scroll;
}

* {
    transition: all 0.5s ease-out !important;
}

h1, h2, h3 {
    width: calc(100% - 10px);
    margin: 5px;
    text-align: center;
}

small {
    font-size: 0.7em;
}

a, a:hover {
    color: #111;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
    margin: 10px;
    padding: 20px 5px;
    border-radius: 1em;
    margin-bottom: 70px;
    background-color: #EDEDED;
    color: #111;
}

.page a {
    width: calc( 100% - 60px);
    margin: 0px 10px;
    padding: 20px;
    display: block;
    border-bottom: 1px solid #111;
}

.page a:hover {
    background-color: #DEDEDE;
}

.out, .in {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: calc( 100% - 40px);
    color: #111;
    border-bottom: 1px solid #111;
}

.in {
    cursor: pointer;
}

.active {
    width: 40px;
    height: 40px;
    background-color: #00CC00;
}

.inactive {
    width: 40px;
    height: 40px;
    background-color: #555;
}

.activeClickable {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00CC00;
}

.inactiveClickable {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    background-color: #0f141d;
    width: 100%;
    z-index: 1000;
}

#navbar a {
    padding: 10px;
    display: block;
    margin: 10px 5px 10px 5px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    background-color: #ddd;
    border-radius: 1em;
}

input[type=text], input[type=date], input[type=time] {
    width: calc(100% - 50px);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.connectionLink {
    display: flex !important;
    justify-content: space-between;
}